<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body data-theme = "{{ .Site.Params.defaultColor }}" class="notransition">
        {{- partial "scriptsBodyStart.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        {{- partial "scriptsBodyEnd.html" . -}}
		<meta property="og:title" content="{{ .Title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:image" content="{{ "assets/icons/android-chrome-192x192.png" | relURL }}" />
		<meta property="og:description" content="{{ .Description }}" />
    </body>
</html>
